<div id="entries" class="table">
  <div class="header row">
    <div class="cell">Date</div>
    <div class="cell">Action</div>
    <div class="cell wide">Buckets</div>
    <div class="cell">Amount</div>
    <div class="cell"></div>
  </div>
  <% entries.each do |entry| %>
  <div class="row">
    <div class="cell"><%= entry.date.strftime "%d %b %y" %></div>
    <div class="cell"><%= entry.action.capitalize %></div>
    <div class="cell wide"><%= bucket_actions(entry) %></div>
    <div class="cell"><%= number_to_currency entry.amount %></div>
    <div class="cell"><%= link_to "edit", edit_entry_path(entry) %></div>
  </div>
  <% end %>
</div>
