<div id="<%= dom_id entry %>" class="entry <%= entry.entry_type %>">
<% if entry.income? %>
  <span class="date"><%= entry.date.strftime "%d %b %y" %></span>
  <span class="amount"><%= number_to_currency entry.amount %></span>
  <span class="type"><%= entry.entry_type %></span>
  <span class="description">Received into <%= entry.debit_account.name %></span>
<% end %>

<% if entry.expense? %>
  <span class="date"><%= entry.date.strftime "%d %b %y" %></span>
  <span class="amount"><%= number_to_currency entry.amount %></span>
  <span class="type"><%= entry.entry_type %></span>
  <span class="description"><%= entry.debit_account.name %> from <%= entry.credit_account.name %></span>
<% end %>

<% if entry.allocation? %>
  <span class="date"><%= entry.date.strftime "%d %b %y" %></span>
  <span class="amount"><%= number_to_currency entry.amount %></span>
  <span class="type"><%= entry.entry_type %></span>
  <span class="description"><%= entry.debit_account.name %> -> <%= entry.credit_account.name %></span>
<% end %>

<span class="actions">
  <%= link_to "edit", edit_entry_path(entry) %> |
  <%= link_to "delete", entry_path(entry), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</span>
</div>
