<div id="<%= dom_id entry %>">
  <p>
    <strong>Date:</strong>
    <%= entry.date %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= entry.currency %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= entry.amount %>
  </p>

  <% if entry.description.present? %>
    <p>
      <strong>Description:</strong>
      <%= entry.description %>
    </p>
  <% end %>

  <p>
    <strong>Debit account:</strong>
    <%= entry.debit_account_id %>
  </p>

  <p>
    <strong>Credit account:</strong>
    <%= entry.credit_account_id %>
  </p>

</div>
