<p style="color: green"><%= notice %></p>

<% content_for :title, "Entries" %>

<h1>Transactions</h1>

<hr>

<h3>Balances</h3>
<% @buckets.each do |bucket| %>
  <span><%= bucket.name %></span>
  <span><%= number_to_currency bucket.balance %></span>
  ...
<% end %>

<hr>

<div id="entries">
  <% @entries.each do |entry| %>
    <%= render entry %>
  <% end %>
</div>

<br>

<%= link_to "New Income", new_entry_path(kind: :income) %>
<%= link_to "New entry", new_entry_path %>
