<div id="<%= dom_id tx %>">
  <p>
    <strong>Date:</strong>
    <%= tx.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= tx.amount %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= tx.currency %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tx.description %>
  </p>

</div>
