<p style="color: green"><%= notice %></p>

<% content_for :title, "Buckets" %>

<h1>Buckets</h1>

<br>

<div class="flow-down gap-1">
<% @buckets.each do |bucket| %>
  <div class="desktop-bucket">
    <div class="card">
      <%= bucket.name %> - <%= Bucket.account_types[bucket.account_type] %><br>
      <%= number_to_currency bucket.balance %>
    </div>
    <div class="actions flow-down">
      <%= link_to "show", bucket %>
      <%= link_to "edit", edit_bucket_path(bucket) %>
      <%= link_to "spend", spend_path(debit: bucket) %>
    </div>
    <div class="description"><%= bucket.description %></div>
  </div>
<% end %>
</div>

<br>

<%= link_to "New bucket", new_bucket_path %>
