<p style="color: green"><%= notice %></p>

<h1>Buckets</h1>
<p><%= link_to "New bucket", new_bucket_path %></p>

<br>
<div>
  <%= link_to "All", buckets_path %>
  <%= link_to "Income", buckets_path(type: :income) %>
  <%= link_to "Savings", buckets_path(type: :savings) %>
  <%= link_to "Spending", buckets_path(type: :spending) %>
  <%= link_to "Bank Accounts", buckets_path(type: :real) %>
</div>
<br>

<div class="bucket-list">
  <% @buckets.each do |bucket| %>
    <div class="card">
    <div class="flex-right space-between">
      <h1 class="play"><%= bucket.name %></h1>
      <div class="play"><%= number_to_currency bucket.balance %></div>
    </div>
    <div class="flex-right space-between">
      <div><%= bucket.description %></div>
      <div>#<%= bucket.account_type %></div>
    </div>
  </div>
  <% end %>
</div>
