<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @bucket %>">
  <div class="card">
    <h1><%= @bucket.name %></h1>
    <%=  Bucket.account_types[@bucket.account_type] %> Bucket<br>
    <h3><%= number_to_currency @bucket.balance %></h3>
  </div>

  <p><%= @bucket.description %></p>

  <br>

  <div>
    <%= link_to "Spend", new_entry_path %> |
    <%= link_to "Edit", edit_bucket_path(@bucket) %>
  </div>

  <br>

  <h2>Transactions</h2>

  <div id="entries" class="flow-down">
    <% @entries.each do |entry| %>
      <%= render entry %>
    <% end %>
  </div>
</div>
