<div id="<%= dom_id transaction %>">
  <p>
    <strong>Date:</strong>
    <%= transaction.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Current:</strong>
    <%= transaction.current %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transaction.description %>
  </p>

</div>
