<p style="color: green"><%= notice %></p>

<% content_for :title, "Entries" %>

<h1>Transactions</h1>

<hr>
  <h3>Balances</h3>
  <% @buckets.each do |bucket| %>
    <span><%= bucket.name %></span>
    <span><%= number_to_currency bucket.balance %></span>
    ...
  <% end %>
<hr>

  <%= render "entries", entries: @entries %>

<br>

<%= link_to "New Entry", new_entry_path %>
